@import "./bootstrap/bootstrap";

.filter {
  .filter-name {
    font-size: 16px;
  }
  .filter-plus, .filter-minus, .filter-value {
    font-size: 14px;
  }
}

.form-control {
  border: none;
}

input[type=range].filter-settings {
  -webkit-appearance: none;
  width: 100%;
  margin: 4px 0;
}
input[type=range].filter-settings:focus {
  outline: none;
}
input[type=range].filter-settings::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1.8px 1.8px 3px rgba(0, 0, 0, 0.53), 0px 0px 1.8px rgba(13, 13, 13, 0.53);
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].filter-settings::-webkit-slider-thumb {
  box-shadow: 1px 1px 4.3px rgba(0, 0, 0, 0.57), 0px 0px 1px rgba(13, 13, 13, 0.57);
  border: 0.5px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.2px;
}
input[type=range].filter-settings:focus::-webkit-slider-runnable-track {
  background: #7eb0da;
}
input[type=range].filter-settings::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1.8px 1.8px 3px rgba(0, 0, 0, 0.53), 0px 0px 1.8px rgba(13, 13, 13, 0.53);
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].filter-settings::-moz-range-thumb {
  box-shadow: 1px 1px 4.3px rgba(0, 0, 0, 0.57), 0px 0px 1px rgba(13, 13, 13, 0.57);
  border: 0.5px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].filter-settings::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].filter-settings::-ms-fill-lower {
  background: #142f46;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1.8px 1.8px 3px rgba(0, 0, 0, 0.53), 0px 0px 1.8px rgba(13, 13, 13, 0.53);
}
input[type=range].filter-settings::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1.8px 1.8px 3px rgba(0, 0, 0, 0.53), 0px 0px 1.8px rgba(13, 13, 13, 0.53);
}
input[type=range].filter-settings::-ms-thumb {
  box-shadow: 1px 1px 4.3px rgba(0, 0, 0, 0.57), 0px 0px 1px rgba(13, 13, 13, 0.57);
  border: 0.5px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 8px;
}
input[type=range].filter-settings:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range].filter-settings:focus::-ms-fill-upper {
  background: #7eb0da;
}
